@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

:root {
  --primary-color: #424530;
  --second-primary-color: #ffefcd;
  --third-primary-color: #6c562ca9;
  --fourth-primary-color: #eea040;
  --fifth-primary-color: #b87e32;
  --sixth-primary-color: #8e6931;
}

/* @media (prefers-color-scheme: dark) {
  :root {

  }
} */

body {
  background: #424530;
  color: white;
  box-sizing: border-box;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px #ffefcd;
  }

  .font-outline-4 {
    -webkit-text-stroke: 2px #ffefcd;
  }
}

h1 {
  font-family: estedad-ExtraBold;
}

h2,
button {
  font-family: estedad-bold;
}

h3 {
  font-family: Estedad-SemiBold;
}

h4,
p,
input,
label {
  font-family: estedad-medium;
}


input::placeholder {
  color: #ffefcd;
}

.type-container {
  animation: opening 0.5s ease-in-out;
}

@keyframes opening {
  0% {
    width: 0;
  }

  /* 70% {
    width: 40px;
  } */

  100% {
    max-width: fit-content;
  }
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.7s;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

/* #input-form {
  background: url('/public/Assets/Icons/icon9.png') no-repeat center;
  width: max-content;
  height: max-content;
} */